/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Normalize
# Typography
	## Headings
	## Copy
# Elements
	## Lists
	## Tables
# Forms
	## Buttons
	## Fields
# Navigation
	## Links
	## Menus
	## Next & Previous
# Accessibility
# Alignments
# Clearings
# Layout
# Widgets
# Content
	## Archives
	## Posts and pages
	## Comments
# Blocks
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
html {
	font-size: 16px !important;
}
body {
	counter-reset: wpp-counter;
}
//Post image containe
.post-thumbnail {
	position: relative;
	a[rel="bookmark"] {
		height: 100%;
		width: 100%;
		z-index: 10;
		position: absolute;
	}
	.post-thumbnail-inner {
		height: 100%;
		width: 100%;
		z-index: 10;
		position: absolute;
	}
}
.entry-meta {
	.byline {
		a {
			color: #0087be !important;
			font-weight: bold;
			text-decoration: none;
		}
	}
}
#search-toggle {
	display: none !important;
}
.mobile-menu-toggle {
	display: none;
}
#fullwidth-content {
	width: 90%;
	margin: 0 auto;
}
#responsive-menu-container {
	width: 75%;
	right: 0;
	transition: transform 0.5s;
	text-align: left;
	max-width: 350px;
	background: #202c39 !important;
	#responsive-menu-wrapper {
		background: transparent !important;
	}
	#responsive-menu-title {
		background-color: transparent !important;
		color: #ffffff;
		font-size: 16px;
		text-align: center;
		#responsive-menu-title-image {
			display: inline-block;
			vertical-align: middle;
			max-width: 100%;
			margin-bottom: 0;
			background-color: white;
			padding: 1rem;
			border-radius: 55px;
			display: inline-block;
			vertical-align: middle;
			max-width: 100%;
			margin-bottom: 10px;
			margin-top: 25px !important;
		}
	}
	#responsive-menu {
		>li.responsive-menu-item {
			&:first-child {
				>a {
					border-top: 0px solid transparent !important;
				}
			}
		}
		li.responsive-menu-current-item {
			>.responsive-menu-item-link {
				background-color: #ffffff !important;
				color: #000000 !important;
				border-color: transparent !important;
			}
		}
		li.responsive-menu-item {
			a {
				line-height: 40px;
				border-bottom: 0px solid transparent !important;
				color: #ffffff;
				background-color: transparent !important;
				height: 40px;
			}
			.responsive-menu-item-link {
				font-size: 18px !important;
				font-weight: 300;
				font-family: "Lato","sans-serif";
				text-transform: uppercase;
			}
		}
	}
}
.middle-header-contain {
	.wrapper {
		position: relative;
	}
}

#responsive-menu-button {
	display: none !important;
	&.custom-btn-burger {
		display: initial !important;
		width: 25px;
		height: 25px;
		position: absolute;
		top: 34px;
		right: 0 !important;
		transition: opacity ease-in-out 1s !important;
		span.responsive-menu-box {
			&:after {
				content: 'MENU \2192';
				font-size: 14px;
				color: #5e6673;
				position: absolute;
				left: -58px;
				top: -2px;
			}
		}
	}
	.responsive-menu-box {
		.responsive-menu-inner {
			width: 25px;
			height: 1px;
			background-color: #2fbfef;
			border-radius: 0;
			position: absolute;
			transition-property: transform;
			transition-duration: 0.15s;
			transition-timing-function: ease;
			&:after {
				width: 25px;
				height: 1px;
				background-color: #2fbfef;
				border-radius: 0;
				position: absolute;
				transition-property: transform;
				transition-duration: 0.15s;
				transition-timing-function: ease;
			}
			&:before {
				width: 25px;
				height: 1px;
				background-color: #2fbfef;
				border-radius: 0;
				position: absolute;
				transition-property: transform;
				transition-duration: 0.15s;
				transition-timing-function: ease;
			}
		}
	}
}
#responsive-menu-additional-content {
	.social-links-menu {
		li {
			a {
				svg {
					color: #ffffff !important;
				}
			}
		}
	}
}
.accent-header {
	border-bottom: 0px solid transparent;
}
.article-section-title {
	border-bottom: 0px solid transparent!important;
}
.news-hero-top {
	article {
		h2.entry-title {
			font-size: 2rem;
			a {
				color: rgba(32, 44, 57, 1);
			}
		}
	}
}
.wp-block-newspack-blocks-homepage-articles {
	article {
		h3.entry-title {
			font-size: 1.2rem;
		}
	}
	h2.article-section-title {
		font-size: 1.3em !important;
		color: rgba(193, 115, 26, 1);
		text-align: center;
		span {
			&:before {
				border-top: 1px solid rgba(193, 115, 26, 1);
			}
			&:after {
				border-top: 1px solid rgba(193, 115, 26, 1);
			}
		}
	}
}
.most-popular-list {
	margin: 2rem 0;
	.wpp-list {
		list-style: none;
		padding-left: 2rem;
		padding-right: 1rem;
		background-color: #eaf0f9;
		li {
			font-size: 1.12rem;
			font-family: "Solway","sans-serif";
			position: relative;
			padding-bottom: 10px;
			border-bottom: 1px solid #d1d1d1;
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
			a {
				text-decoration: none;
				font-family: "Solway","sans-serif";
			}
			&:after {
				position: absolute;
				counter-increment: wpp-counter;
				content: counter(wpp-counter);
				display: block;
				font-weight: 300;
				top: 2px;
				left: -30px;
				font-size: 1.5rem;
				line-height: 28px;
				color: rgba(193, 115, 26, 1);
			}
		}
	}
	h2.article-section-title {
		font-size: 1.3em;
		color: rgba(193, 115, 26, 1);
		text-align: center;
		span {
			&:before {
				border-top: 1px solid rgba(193, 115, 26, 1);
			}
		}
	}
}
span.wpp-meta.post-stats {
	display: none;
}
.most-popular-inline {
	h2.article-section-title {
		span {
			&:after {
				border-top: 1px solid rgba(193, 115, 26, 1);
			}
		}
	}
	.wpp-list {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		padding-left: 0;
		background-color: rgba(193, 115, 26, 0.3);
		padding: 20px;
		margin-top: 0;
		counter-reset: section;
		li {
			overflow: hidden;
			margin: 0;
			padding: 0;
			border-bottom: transparent 0px solid;
			width: 20%;
			position: relative;
			&:first-of-type {
				padding: 0;
			}
			.wpp-post-title {
				margin-bottom: 0;
				font-size: 0.8em !important;
				line-height: 1.3;
				color: rgba(32, 44, 57, 1);
				font-weight: 300;
				font-family: "Lato","sans-serif";
			}
			.wpp-thumbnail {
				float: left;
				margin: 0;
				border-radius: 100%;
				margin-right: 10px;
			}
		}
	}
}
.site-header {
	.main-navigation {
		.main-menu {
			>li {
				display: inline-block;
				line-height: 1.25;
				margin-right: 0.75rem;
				font-size: 0.7rem;
				text-transform: uppercase;
				color: rgba(32, 44, 57, 1);
				transition: all ease-in-out 0.3s;
				&:hover {
					color: #2fbfef;
					text-decoration: overline;
					transition: all ease-in-out 0.3s;
				}
			}
			>li.current-menu-item {
				color: #2fbfef;
				text-decoration: overline;
				transition: all ease-in-out 0.5s;
			}
		}
	}
}
#topad {
	display: flex;
	justify-content: center;
	padding: 1rem 0;
	.topad-container {
		min-width: 970px;
	}
}
.mrec-main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 0;
	min-width: 320px;
	padding: 20px 0 10px;
	margin-bottom: 2rem !important;
	.mrec-container {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
span.advertisement-tag {
	text-align: center;
	font-size: 10px;
	display: block;
}
.container-sponsorcontent {
	margin-bottom: 0!important;
	article {
		display: inline-flex;
		background-color: #dae0eb !important;
		padding: 10px;
		margin-bottom: 0!important;
		.entry-wrapper {
			padding-left: 10px;
			display: flex;
			flex-direction: column;
			position: relative;
			p {
				font-size: 16px;
			}
			h3 {
				margin-top: 0;
			}
			a.button.sc-button-link {
				text-align: center;
				width: 50%;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 300;
				border-radius: 0;
				padding: 12px 0;
			}
			.entry-meta {
				display: block;
				text-align: right;
				margin-bottom: 1rem;
				span.sponsor-meta {
					font-weight: 600;
				}
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	.container-sponsorcontent {
		article {
			display: block;
			.entry-wrapper {
				padding-left: 0;
				h3 {
					margin-top: 1rem;
				}
			}
		}
	}
}
.wp-block-column.half-page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem 0 1rem;
}
.wp-block-newspack-blocks-homepage-articles.image-aligntop {
	.post-thumbnail {
		margin-bottom: 0em !important;
	}
}
.magazine-box {
	background-color: rgba(218, 224, 235, 1);
	padding: 2rem 0;
	margin-bottom: 0 !important;
	figcaption {
		padding: 0.5rem 5px;
		border-bottom: 0px solid transparent;
		font-family: "Solway","sans-serif";
		font-weight: 300;
		font-size: 16px;
		text-align: center !important;
	}
}
.latest-comments-container {
	.wp-block-latest-comments {
		padding-left: 0;
	}
	.article-section-title {
		font-size: 1.3em;
		color: rgba(193, 115, 26, 1);
		text-align: center;
		span {
			&:before {
				border-top: 1px solid rgba(193, 115, 26, 1);
			}
			&:after {
				border-top: 1px solid rgba(193, 115, 26, 1);
				border-top: 1px solid rgba(193, 115, 26, 1);
				border-top: 1px solid rgba(193, 115, 26, 1);
			}
		}
	}
	article {
		footer.wp-block-latest-comments__comment-meta {
			font-weight: 300 !important;
			font-size: 14px;
			font-family: "Solway", Georgia, Garamond, "Times New Roman", sans-serif !important;
			color: #2fbfef;
		}
		footer {
			.wp-block-latest-comments__comment-author {
				text-decoration: none;
				font-size: 14px;
				color: #2fbfef;
			}
			.wp-block-latest-comments__comment-link {
				display: block;
				font-family: "Lato", Georgia, Garamond, "Times New Roman", sans-serif;
				text-decoration: none;
				font-size: 18px;
				color: rgba(32, 44, 57, 1);
			}
		}
	}
}
.slider-container {
	.article-section-title {
		font-size: 1.3em;
		color: rgba(193, 115, 26, 1);
		text-align: center;
		span {
			&:before {
				border-top: 1px solid rgba(193, 115, 26, 1);
			}
			&:after {
				border-top: 1px solid rgba(193, 115, 26, 1);
			}
		}
	}
	.slider-custom-carousel {
		padding: 0;
		.slick-slider {
			padding-top: 10px;
			ul.slick-dots {
				bottom: -20px;
			}
		}
	}
}
.poll-container {
	.article-section-title {
		font-size: 1.3em;
		color: rgba(193, 115, 26, 1);
		text-align: center;
		span {
			&:before {
				border-top: 1px solid rgba(193, 115, 26, 1);
			}
			&:after {
				border-top: 1px solid rgba(193, 115, 26, 1);
			}
		}
	}
	.wp-polls {
		background-color: rgba(193, 115, 26, 0.3);
		padding: 20px 20px;
		border: 0px solid transparent;
		font-size: 16px;
		.wp-polls-form {
			background-color: #f9f9f9;
			padding: 10px 20px;
			border: 1px solid #dadada;
			font-size: 16px;
			background-color: rgba(193, 115, 26, 0.3);
			padding: 20px 20px;
			border: 0px solid transparent;
			font-size: 16px;
			background-color: rgba(193, 115, 26, 0.3);
			padding: 20px 20px;
			border: 0px solid transparent;
			font-size: 16px;
			.question {
				font-family: "Lato","sans-serif";
				padding-left: 10px;
				position: relative;
				font-size: 20px;
				&:before {
					position: absolute;
					content: '';
					width: 1px;
					height: 100%;
					background-color: #dae0eb;
					left: 0;
				}
			}
		}
	}
	.wp-polls-ans {
		.wp-polls-ul {
			padding: 0px;
			margin: 30px 0;
			li {
				position: relative;
				margin-bottom: 20px;
				input[type="radio"] {
					opacity: 0;
					~ {
						label {
							&:before {
								background-color: #2fbfef;
								border-radius: 50%;
								border: 2px solid #ffffff;
								content: "";
								cursor: pointer;
								height: 19px;
								left: 0px;
								position: absolute;
								top: 3px;
								width: 19px;
							}
							&::after {
								content: "";
								width: 7px;
								height: 7px;
								background-color: #ffffff;
								display: inline-block;
								border-radius: 50%;
								position: absolute;
								left: 6px;
								top: 9px;
								opacity: 0;
								visibility: hidden;
								transition: all 0.2s ease;
								transform: scale(0);
							}
						}
					}
					&:checked {
						~ {
							label {
								&::after {
									opacity: 1;
									visibility: visible;
									transition: all 0.2s ease;
									transform: scale(1);
								}
							}
						}
					}
				}
				label {
					padding-left: 10px;
					width: 93%;
					display: inline-block;
				}
				strong {
					font-weight: 300 !important;
					padding: 1px 5px;
					background-color: #5e6673;
					i {
						font-style: normal;
						color: #ffffff;
						small {
							font-style: normal;
							color: #dae0eb;
							margin-left: 5px;
							text-transform: uppercase;
						}
					}
				}
				.pollbar {
					margin: 1px;
					font-size: 6px;
					line-height: 8px;
					height: 15px;
					background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%, transparent 25%,transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent) !important;
					background-size: 1rem 1rem;
					border: 1px solid #ffffff;
					background-color: #2fbfef;
					transition: width .6s ease;
				}
			}
		}
		.poll-footer {
			.button {
				text-transform: uppercase;
				border-radius: 0px;
				font-size: 16px;
				font-weight: 300;
				width: 100%;
				background-color: #5e6673;
			}
			a {
				display: none !important;
			}
		}
	}
}
.post-has-image {
	.rs-save-for-later-button {
		background-color: #5e6673;
		color: #ffffff !important;
		height: 28px;
		line-height: 27px;
		margin: 5px 0 0 -10px;
		padding-left: 10px;
		position: absolute;
		text-align: center;
		width: 80px;
		z-index: 10;
		text-decoration: none;
		transition: all ease-in-out 0.5s;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: -10px;
			width: 0;
			height: 0;
			border-top: 0;
			border-right: 10px solid rgba(32, 44, 57, 1);
			border-bottom: 10px solid transparent;
		}
		i.save_for_later {
			&:before {
				content: 'SAVE';
				font-size: 16px;
				font-style: normal;
				text-decoration: none;
				z-index: 11;
				transition: all ease-in-out 0.5s;
			}
		}
	}
	.rs-save-for-later-button.saved {
		background-color: #c1731a;
		color: #ffffff !important;
		transition: all ease-in-out 0.5s;
		i.save_for_later {
			&:before {
				content: '\2613 \00A0 SAVED';
				transition: all ease-in-out 0.5s;
			}
		}
	}
}
article.amp-carousel-slide a.rs-save-for-later-button {
    display: none;
}
.post-thumbnail {
	.rs-save-for-later-button {
		background-color: #5e6673;
		color: #ffffff !important;
		height: 28px;
		line-height: 27px;
		margin: 5px 0 0 -10px;
		padding-left: 10px;
		position: absolute;
		text-align: center;
		width: 80px;
		z-index: 10;
		text-decoration: none;
		transition: all ease-in-out 0.5s;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: -10px;
			width: 0;
			height: 0;
			border-top: 0;
			border-right: 10px solid rgba(32, 44, 57, 1);
			border-bottom: 10px solid transparent;
		}
		i.save_for_later {
			&:before {
				content: 'SAVE';
				font-size: 16px;
				font-style: normal;
				text-decoration: none;
				z-index: 11;
				transition: all ease-in-out 0.5s;
			}
		}
	}
	.rs-save-for-later-button.save {
		background-color: #c1731a;
		color: #ffffff !important;
		transition: all ease-in-out 0.5s;
	}
	.rs-save-for-later-button.saved {
		i.save_for_later {
			&:before {
				content: '\2613 \00A0 SAVED';
				transition: all ease-in-out 0.5s;
			}
		}
	}
}
.short_list {
	width: 50px;
	height: 50px;
	background-color: #2fbfef;
	border-radius: 100%;
	position: fixed;
	bottom: 50px;
	right: 20px;
	&:before {
		position: absolute;
		content: 'SAVED';
		color: white;
		top: 17px;
		left: 7px;
		line-height: 0;
		font-size: 12px;
	}
	a {
		font-size: 0;
		span.rs-count {
			font-size: 20px;
			color: #ffffff;
			position: absolute;
			left: 19px;
			bottom: 0;
		}
	}
}
.save-for-later-banner {
	position: fixed;
	width: 100%;
	bottom: -60px;
	text-align: center;
	background-color: #202c39;
	height: 60px;
	z-index: 99;
	transition: all ease-in-out 0.3s;
	span.message {
		color: #dae0eb;
		line-height: 3;
	}
	span.counter {
		color: #dae0eb;
		margin-left: 10px;
	}
	&.opened {
		bottom: 0;
		transition: all ease-in-out 0.3s;
	}
}
.modal {
	display: none;
	position: fixed;
	z-index: 999999;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.7);
	.modal-content {
		background-color: #ffffff;
		margin: auto;
		padding: 20px;
		max-width: 500px;
		h3 {
			text-align: center;
			color: #c1731a;
			font-size: 1.4rem;
		}
		hr {
			height: 1px;
			max-width: 40px;
			background-color: #c1731a;
		}
		.save-for-later-grid.image-alignleft {
			.post-has-image {
				display: flex;
				margin-bottom: 2rem;
			}
			.post-thumbnail {
				flex-basis: 50%;
			}
			.entry-wrapper {
				flex-basis: 50%;
				padding-left: 1rem;
				h3 {
					font-size: 1rem;
					color: #202c39;
					text-align: left;
					margin-bottom: 1rem;
				}
				.rs-item-nav {
					.saved-in-list {
						position: relative;
						font-size: 0.8rem;
						-webkit-box-shadow: none;
						-moz-box-shadow: none;
						box-shadow: none;
						margin: 0;
						padding: 5px 25px;
						&:before {
							content: none;
						}
					}
				}
			}
		}
	}
	.close {
		color: #202c39;
		float: right;
		font-size: 28px;
		font-weight: bold;
		&:hover {
			color: #dae0eb;
			text-decoration: none;
			cursor: pointer;
		}
		&:focus {
			color: #dae0eb;
			text-decoration: none;
			cursor: pointer;
		}
	}
}

img.native-ads-pixel-tracker {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	display: none;
}
.site-footer {
	.widget-area {
		padding: 0 !important;
		&:first-child {
			.wrapper {
				border-top: 1px solid #dae0eb;
			}
		}
	}
	.footer-branding {
		.wrapper {
			border-top: 1px solid #dae0eb;
		}
	}
	background-color: transparent !important;
	.site-info {
		background-color: transparent;
		color: #111;
		font-size: 16px;
		.wrapper {
			border: 0;
			border-top: 1px solid #dae0eb;
		}
		.social-navigationn {
			.social-links-menu {
				li {
					a {
						svg {
							display: block;
							width: 30px !important;
							height: 30px !important;
							transform: translateZ(0);
							color: #2fbfef !important;
						}
					}
				}
			}
		}
	}
}
.widget_nav_menu {
	.menu-footer1-menu-container {
		.menu {
			display: flex;
			position: relative;
			width: calc(100% + 1rem);
			li {
				flex: 1 1 auto;
				text-align: center;
				margin-bottom: 0;
				a {
					font-size: 14px;
					text-transform: uppercase;
				}
			}
		}
	}
}
.social-links-menu {
	li {
		a {
			svg {
				display: block;
				width: 30px !important;
				height: 30px !important;
				transform: translateZ(0);
				color: #2fbfef !important;
			}
		}
	}
}
.optin-form {
	background: #202c39;
	padding: 2rem;
	.optin-form-container {
		margin: auto;
		max-width: 90%;
		width: 1200px;
		.et_bloom_inline_form {
			.et_bloom_form_container {
				.et_bloom {
					.et_bloom_form_header {
						img {
							max-width: 360px !important;
						}
					}
				}
			}
		}
	}
}
.upcoming-events-container {
	.article-section-title {
		font-size: 1.3em;
		color: rgba(193, 115, 26, 1);
		text-align: center;
		span {
			&:before {
				border-top: 1px solid rgba(193, 115, 26, 1);
			}
		}
	}
	.timely {
		background-color: rgba(193, 115, 26, 1);
		font-family: "Solway","sans-serif";
		&.ai1ec-agenda-widget-view {
			.ai1ec-date {
				border-top: 0px solid transparent !important;
				background: none !important;
				padding: 5px 0px;
				.ai1ec-date-title {
					border: none;
					border-top: none;
					border-radius: 0;
					-webkit-box-shadow: none;
					box-shadow: none;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: unset;
					color: #555;
					float: left;
					font-weight: 300 !important;
					background-image: none;
					background-color: white;
					filter: none;
					line-height: 1.2em;
					margin: 6.5px 0.75em;
					overflow: hidden;
					text-align: center;
					text-shadow: 0 0px 0 #fff;
					width: 4em;
				}
			}
			.ai1ec-month {
				background: #2fbfef;
				border-radius: 0;
				color: #fff;
				font-size: 0.8em;
				letter-spacing: 0.2em;
				padding: 0 0.2em;
				text-transform: uppercase;
				text-shadow: none;
			}
			.ai1ec-event {
				>a {
					color: #ffffff;
					display: block;
					background: transparent;
					border: 1px solid #fff;
					border-radius: 0;
					padding: 0.2em 0.4em;
				}
				.ai1ec-event-title {
					font-weight: normal;
					font-family: "Lato","sans-serif";
					font-size: 16px;
					.ai1ec-event-location {
						display: inline-block;
						font-family: "Solway","sans-serif";
						background: #202c39;
						color: #dae0eb;
						font-size: 10px;
						padding: 2px 5px;
						border-radius: 10px;
						margin-bottom: 5px;
					}
				}
				.ai1ec-allday-badge {
					display: none;
				}
			}
			.ai1ec-subscribe-buttons-widget {
				.ai1ec-subscribe-dropdown {
					margin-top: 10px;
					left: 50%;
					bottom: 10px;
					transform: translateX(-50%);
					border-radius: 0;
					border: none;
					.ai1ec-subscribe {
						padding: 5px 20px;
						background-color: #202c39;
						color: #dae0eb;
						font-size: 16px;
					}
				}
			}
		}
		.ai1ec-agenda-view {
			.ai1ec-date {
				border-top: 0px solid transparent !important;
				background: none !important;
				padding: 5px 0px;
			}
		}
	}
}
.contributors-container {
	.wp-block-latest-comments {
		padding-left: 0;
	}
	.article-section-title {
		font-size: 1.3em;
		color: rgba(193, 115, 26, 1);
		text-align: center;
		span {
			&:before {
				border-top: 1px solid rgba(193, 115, 26, 1);
			}
			&:after {
				border-top: 1px solid rgba(193, 115, 26, 1);
			}
		}
	}
}
.our-team {
	height: 100%;
	padding: 10px 0 0px;
	background: #dae0eb;
	text-align: center;
	overflow: hidden;
	position: relative;
	border-bottom: 5px solid #202c39;
	&:hover {
		border-bottom: 5px solid #202c39;
		.pic {
			&:before {
				height: 100%;
				background: #202c39;
			}
			&:after {
				background: #ffffff;
			}
			img {
				transform: scale(0.7);
			}
		}
		.social {
			bottom: 0;
		}
	}
	.pic {
		display: inline-block;
		width: 130px;
		height: 130px;
		z-index: 1;
		position: relative;
		&:before {
			content: "";
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background: #202c39;
			position: absolute;
			bottom: 135%;
			right: 0;
			left: 0;
			opacity: 1;
			transform: scale(3);
			transition: all 0.3s linear 0s;
		}
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background: #ffffff00;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			transition: all 0.3s linear 0s;
		}
		img {
			width: 100%;
			height: auto;
			border-radius: 50%;
			transform: scale(1);
			transition: all 0.9s ease 0s;
			transform: scale(0.7);
			position: relative;
			z-index: 2;
		}
	}
	.team-content {
		margin-bottom: 30px;
	}
	.title {
		font-size: 1.2rem;
		font-weight: 700;
		color: rgba(193, 115, 26, 1);
		text-transform: uppercase;
		margin-bottom: 5px;
	}
	.post {
		display: block;
		position: relative;
		font-size: 1rem;
		color: #202c39;
		padding: 0 40px;
		// &:after {
		// 	position: absolute;
		// 	content: '\201E \201F';
		// 	font-size: 60px;
		// 	right: 20px;
		// 	bottom: -20px;
		// }
		&:before {
			position: relative;
			content: "\270E";
			font-size: 22px;
			top: -4px;
			left: 0;
			background: aliceblue;
			width: 35px;
			height: 35px;
			border-radius: 100%;
		}
	}
	.social {
		width: 100%;
		padding: 20px;
		margin: 0;
		background: #202c39;
		position: absolute;
		bottom: -100px;
		left: 0;
		transition: all 0.5s ease 0s;
		a.button {
			background-color: #2fbfef;
			text-transform: uppercase;
			border-radius: 0;
		}
	}
}
hr.wp-block-separator.divider {
	background-color: transparent !important;
	border: 0 !important;
	border-top: 0px solid transparent !important;
	height: 1px !important;
	margin: 2rem auto !important;
	max-width: 5rem !important;
}
.bottom-header-contain.desktop-only {
	transition: all ease-in-out 1s;
}
.bottom-header-contain.desktop-only.sticky {
	position: fixed;
	top: 0;
	background-color: white;
	width: 100%;
	transition: all ease-in-out 1s;
	z-index: 999;
	-webkit-box-shadow: 0px 15px 10px -15px rgba(94,102,115,0.5);
	-moz-box-shadow: 0px 15px 10px -15px rgba(94,102,115,0.5);
	box-shadow: 0px 15px 10px -15px rgba(94,102,115,0.5);
	.wrapper {
		border-bottom: 0;
		border-top: 0;
		transition: all ease-in-out 1s;
		.main-navigation {
			.main-menu {
				line-height: 4;
			}
		}
	}
}
button#responsive-menu-button.fade.custom-btn-burger {
	transition: all ease-in-out 0.3s;
	opacity: 0;
}
button#responsive-menu-button.fade.sticky.custom-btn-burger {
	position: fixed;
	top: 9px !important;
	right: 20px !important;
	transition: opacity ease-in-out 2s;
	opacity: 1;
}
.site-content {
	margin-top: 2rem !important;
}
#secondary.widget-area {
	width: calc( 35% - 2rem) !important;
	margin-top: 0 !important;
	.et_bloom_inline_form {
		margin: 0 !important;
	}
	.wpp-list {
		li {
			.wpp-post-title {
				margin-bottom: 0.2em;
				font-size: 0.9em !important;
				color: #202c39;
			}
		}
	}
	.widget.popular-posts {
		.wpp-list.wpp-list-with-thumbnails {
			padding: 1rem;
		}
	}
}
.widget-title.accent-header {
	color: rgba(193, 115, 26, 1) !important;
	span {
		&:before {
			border-top: 1px solid rgba(193, 115, 26, 1) !important;
		}
		&:after {
			border-top: 1px solid rgba(193, 115, 26, 1) !important;
		}
	}
}
#secondary.widget-are {
	.widget.popular-posts {
		.wpp-list.wpp-list-with-thumbnails {
			li {
				&:last-child {
					overflow: hidden;
					margin: 0 0 1em 0;
					padding: 1em 0 0 0;
					border-bottom: #ddd 0px solid;
				}
			}
		}
	}
}
.widget_polls-widget {
	.article-section-title {
		font-size: 1.3em;
		color: rgba(193, 115, 26, 1);
		text-align: center;
		span {
			&:before {
				border-top: 1px solid rgba(193, 115, 26, 1);
			}
			&:after {
				border-top: 1px solid rgba(193, 115, 26, 1);
			}
		}
	}
	.wp-polls {
		background-color: rgba(193, 115, 26, 0.3);
		padding: 20px 20px;
		border: 0px solid transparent;
		font-size: 16px;
		.wp-polls-form {
			.question {
				font-family: "Lato","sans-serif";
				padding-left: 10px;
				position: relative;
				font-size: 20px;
				&:before {
					position: absolute;
					content: '';
					width: 1px;
					height: 100%;
					background-color: #dae0eb;
					left: 0;
				}
			}
		}
	}
	.wp-polls-ans {
		.wp-polls-ul {
			padding: 0px;
			margin: 30px 0;
			li {
				position: relative;
				margin-bottom: 20px;
				input[type="radio"] {
					opacity: 0;
					~ {
						label {
							&:before {
								background-color: #2fbfef;
								border-radius: 50%;
								border: 2px solid #ffffff;
								content: "";
								cursor: pointer;
								height: 19px;
								left: 0px;
								position: absolute;
								top: 3px;
								width: 19px;
							}
							&::after {
								content: "";
								width: 7px;
								height: 7px;
								background-color: #ffffff;
								display: inline-block;
								border-radius: 50%;
								position: absolute;
								left: 6px;
								top: 9px;
								opacity: 0;
								visibility: hidden;
								transition: all 0.2s ease;
								transform: scale(0);
							}
						}
					}
					&:checked {
						~ {
							label {
								&::after {
									opacity: 1;
									visibility: visible;
									transition: all 0.2s ease;
									transform: scale(1);
								}
							}
						}
					}
				}
				label {
					padding-left: 10px;
					width: 94%;
					display: inline-block;
				}
				strong {
					font-weight: 300 !important;
					padding: 1px 5px;
					background-color: #5e6673;
					i {
						font-style: normal;
						color: #ffffff;
						small {
							font-style: normal;
							color: #dae0eb;
							margin-left: 5px;
							text-transform: uppercase;
						}
					}
				}
				.pollbar {
					margin: 1px;
					font-size: 6px;
					line-height: 8px;
					height: 15px;
					background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%, transparent 25%,transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent) !important;
					background-size: 1rem 1rem;
					border: 1px solid #ffffff;
					background-color: #2fbfef;
					transition: width .6s ease;
				}
			}
		}
		.poll-footer {
			.button {
				text-transform: uppercase;
				border-radius: 0px;
				font-size: 16px;
				font-weight: 300;
				width: 100%;
				background-color: #5e6673;
			}
		}
	}
}
.widget.widget_ai1ec_agenda_widget {
	.article-section-title {
		font-size: 1.3em;
		color: rgba(193, 115, 26, 1);
		span {
			&:before {
				border-top: 1px solid rgba(193, 115, 26, 1);
			}
		}
	}
	.timely {
		background-color: rgba(193, 115, 26, 1);
		font-family: "Solway","sans-serif";
		.ai1ec-agenda-view {
			.ai1ec-date {
				border-top: 0px solid transparent !important;
				background: none !important;
				padding: 5px 0px;
			}
		}
	}
	.timely.ai1ec-agenda-widget-view {
		.ai1ec-date {
			border-top: 0px solid transparent !important;
			background: none !important;
			padding: 5px 0px;
			.ai1ec-date-title {
				border: none;
				border-top: none;
				border-radius: 0;
				-webkit-box-shadow: none;
				box-shadow: none;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: unset;
				color: #555;
				float: left;
				font-weight: 300 !important;
				background-image: none;
				background-color: white;
				filter: none;
				line-height: 1.2em;
				margin: 6.5px 0.75em;
				overflow: hidden;
				text-align: center;
				text-shadow: 0 0px 0 #fff;
				width: 4em;
			}
		}
		.ai1ec-month {
			background: #2fbfef;
			border-radius: 0;
			color: #fff;
			font-size: 0.8em;
			letter-spacing: 0.2em;
			padding: 0 0.2em;
			text-transform: uppercase;
			text-shadow: none;
		}
		.ai1ec-event {
			>a {
				color: #ffffff;
				display: block;
				background: transparent;
				border: 1px solid #fff;
				border-radius: 0;
				padding: 0.2em 0.4em;
			}
			.ai1ec-event-title {
				font-weight: normal;
				font-family: "Lato","sans-serif";
				font-size: 16px;
				.ai1ec-event-location {
					display: inline-block;
					font-family: "Solway","sans-serif";
					background: #202c39;
					color: #dae0eb;
					font-size: 10px;
					padding: 2px 5px;
					border-radius: 10px;
					margin-bottom: 5px;
				}
			}
			.ai1ec-allday-badge {
				display: none;
			}
		}
		.ai1ec-subscribe-buttons-widget {
			.ai1ec-pull-right {
				float: none !important;
				margin-left: 8px;
				border: none;
				border-radius: 0;
				padding: 5px 12px;
			}
			.ai1ec-subscribe-dropdown {
				margin-top: 10px;
				left: 50%;
				bottom: 10px;
				transform: translateX(-50%);
				border-radius: 0;
				border: none;
				.ai1ec-subscribe {
					padding: 5px 20px;
					background-color: #202c39;
					color: #dae0eb;
					font-size: 16px;
				}
			}
		}
	}
}
header.page-header {
	border-bottom: 1px solid #2fbfef;
	h1.page-title {
		font-family: "Lato","sans-serif";
		font-size: 40px;
		font-weight: 900;
	}
}
.taxonomy-description {
	margin-bottom: 0;
	max-width: 60%;
}
.archive {
	.site-main {
		hr {
			background-color: #dae0eb;
			border: 0;
			height: 1px;
		}
		article {
			&:first-of-type {
				background-color: #dae0eb;
				.entry-container {
					padding: 0 10px 10px;
				}
			}
		}
	}
}
header {
	.entry-subhead-custom {
		text-align: center;
		margin-bottom: 2rem;
		.entry-meta {
			.author-avatar:not(:empty) {
				float: none;
				.avatar {
					margin: 0 auto;
				}
			}
			.byline {
				display: inline;
				a {
					color: rgba(193, 115, 26, 1) !important;
					font-weight: 300;
					text-decoration: none;
				}
			}
		}
		hr {
			background-color: #dae0eb;
			border: 0;
			height: 1px;
			width: 50px;
		}
	}
}
.pagination {
	.nav-links {
		>* {
			background-color: transparent !important;
			margin-right: 1rem !important;
			padding: 0 !important;
			color: #2fbfef;
			font-size: 20px;
		}
		>*.current {
			background-color: #2fbfef !important;
			color: #fff;
			border-radius: 100%;
			width: 40px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			margin-top: -9px;
			text-decoration: underline;
			transition: all ease-in-out 0.3s;
		}
		a.page-numbers {
			&:hover {
				color: #5e6673;
				transition: all ease-in-out 0.3s;
			}
		}
	}
}
.comments-area {
	.comment-respond {
		.comment-form {
			.form-submit {
				.submit {
					background-color: #c1731a;
					text-transform: uppercase;
					border-radius: 0;
				}
			}
		}
	}
	.comments-title-wrap {
		text-align: center;
		display: block !important;
		overflow: hidden;
		margin-bottom: 1rem !important;
		.discussion-meta {
			margin: 0 !important;
			margin-top: 0.5rem !important;
			color: #c1731a;
		}
		h2 {
			text-align: center;
			text-transform: uppercase;
			color: #c1731a;
			color: rgba(193, 115, 26, 1);
			span {
				display: inline-block;
				position: relative;
			}
		}
		.comments-title {
			span {
				&:before {
					right: calc( 100% + 0.5rem);
					border-top: 1px solid rgba(193, 115, 26, 1);
					content: "";
					display: block;
					position: absolute;
					top: 50%;
					width: 600px;
				}
				&:after {
					left: calc( 100% + 0.5rem);
					border-top: 1px solid rgba(193, 115, 26, 1);
					content: "";
					display: block;
					position: absolute;
					top: 50%;
					width: 600px;
				}
			}
		}
	}
	.comment-list {
		margin-top: 0 !important;
		.comment {
			.comment-body {
				margin: 0 !important;
			}
		}
		.comment-meta {
			.comment-author {
				.fn {
					text-transform: uppercase;
					color: rgba(193, 115, 26, 1);
				}
			}
		}
		li {
			padding: 1rem;
			background-color: #dae0eb;
			margin-bottom: 10px;
			&:after {
				content: ' ';
				position: absolute;
				width: 0;
				height: 0;
				left: -20px;
				right: auto;
				top: 0px;
				bottom: auto;
				border: 22px solid;
				border-color: #dae0eb transparent transparent transparent;
			}
		}
	}
	.comment-form {
		.comment-form-comment {
			label {
				text-transform: uppercase;
				color: rgba(193, 115, 26, 1);
			}
		}
	}
}
.entry-footer {
	.tags-links {
		a {
			background: #dae0eb;
			color: #202c39;
			margin: 0 0.25rem 0.25rem 0;
			padding: 0.25rem 0.5rem;
			text-transform: uppercase;
		}
	}
}
.subscribe-main {
	background-color: #dae0eb !important;
	margin-top: 2rem;
	padding: 0 0 1rem;
	.social-media-icons {
		display: flex;
		justify-content: center;
	}
}
.social_wrap {
	text-align: center;
	margin: 0 5px;
	a {
		text-decoration: none !important;
		color: #fff !important;
		font-size: 14px;
		margin: 0 5px;
		line-height: 2;
	}
}
.social-media-icons {
	.imput_facebook {
		background-color: #0073b1;
		border: 1px solid #006097;
		margin-right: 10px;
	}
	.imput_linkedin {
		background-color: #4ab3f4;
		border: 1px solid #1da1f2;
		margin-left: 10px;
	}
}
.related-post-single {
	width: 100%;
	background-color: #dae0eb;
	margin-top: 2rem;
	.rp4wp-related-posts {
		ul {
			width: 70%;
			padding: auto;
			margin: auto;
			float: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 0;
			list-style: none;
			>li {
				list-style: none;
				padding: 0;
				margin: 0;
				padding-bottom: 20px;
				clear: both;
				width: calc( ( 100% / 3 ) - 12px);
			}
			li {
				.rp4wp-related-post-image {
					width: 100%;
					padding-right: 0;
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
					box-sizing: border-box;
					float: none;
					text-align: center;
				}
				.rp4wp-related-post-content {
					text-align: center;
					font-family: "Lato","sans-serif";
				}
			}
		}
	}
}
.rp4wp-related-posts {
	h3 {
		text-align: center;
	}
}
.rss-section {
	background-color: #dae0eb;
	padding: 1rem;
	h2.article-section-title {
		color: #c1731a;
		font-size: 1.3rem;
		text-align: center;
		span {
			&:before {
				border-top: 1px solid rgba(193, 115, 26, 1);
			}
			&:after {
				border-top: 1px solid rgba(193, 115, 26, 1);
			}
		}
	}
	h2 {
		span {
			color: #c1731a;
			font-size: 1.3rem;
			text-align: center;
		}
	}
	article {
		.post-thumbnail {
			a {
				&:first-child {
					position: relative;
				}
			}
		}
	}
	.wp-block-newspack-blocks-homepage-articles {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0;
		list-style: none;
		padding-top: 1rem;
		article {
			flex-basis: calc( ( 100% / 2 ) - 16px);
		}
	}
}
@media only screen and (max-width: 980px) {
	.rss-section {
		.wp-block-newspack-blocks-homepage-articles {
			display: flex;
			display: block;
			article {
				margin-bottom: 1rem;
			}
		}	
	}
}
@media only screen and (min-width: 600px) {
	html {
		font-size: 16px !important;
	}
}
@media only screen and (min-width: 768px) {
	.archive {
		.has-post-thumbnail {
			.post-thumbnail {
				flex-basis: 50% !important;
			}
		}
	}
	.blog {
		.has-post-thumbnail {
			.post-thumbnail {
				flex-basis: 50% !important;
			}
		}
	}
	.search {
		.has-post-thumbnail {
			.post-thumbnail {
				flex-basis: 50% !important;
			}
		}
	}
	.taxonomy-description {
		margin-bottom: 0 !important;
		max-width: 60% !important;
	}
}
@media only screen and (max-width: 900px) {
	.news-hero-top.image-alignleft {
		article {
			flex-direction: column;
			.post-thumbnail {
				text-align: center;
				margin-right: 0;
				margin-bottom: 1rem;
			}
		}
	}
	.one-third-columns {
		flex-wrap: wrap !important;
		justify-content: center;
		.wp-block-column {
			flex-basis: 100% !important;
			text-align: center;
			.magazine-box {
				max-width: 1000%;
				margin: 0 auto;
			}
		}
		.et_bloom_inline_form {
			max-width: 80% !important;
		}
	}
	.three-third-columns {
		flex-wrap: wrap !important;
		justify-content: center;
		.wp-block-column {
			flex-basis: 100% !important;
			margin-bottom: 2rem;
		}
	}
	.wp-block-columns.mrec-sponsorcontent-section {
		justify-content: center;
	}
	.container-sponsorcontent {
		article {
			flex-wrap: wrap;
			.post-thumbnail {
				flex-basis: 100% !important;
				margin-right: 0 !important;
			}
			.entry-wrapper {
				flex-basis: 100% !important;
				margin-right: 0 !important;
			}
		}
		.sponsoredContent {
			display: none;
		}
	}
	.most-popular-inline {
		.wpp-list {
			li {
				text-align: center;
				.wpp-thumbnail {
					float: none;
					margin-right: 0;
				}
			}
		}
	}
	.parallax-section {
		.main-container {
			width: 80% !important;
		}
	}
	.poll-container {
		max-height: 480px;
	}
	.wp-block-column.upcoming-events-container {
		max-width: 480px;
	}
	.short_list {
		bottom: 140px;
		z-index: 101;
	}
}
@media only screen and (max-width: 767px) {
	button#responsive-menu-button.custom-btn-burger {
		top: 15px !important;
	}
	button#responsive-menu-button.custom-btn-burger.is-active {
		right: -20px !important;
	}
	button#responsive-menu-button.fade.sticky.custom-btn-burger {
		position: fixed;
		top: 15px !important;
		right: 20px !important;
		transition: opacity ease-in-out 2s;
		opacity: 1;
	}
	.site-header {
		.custom-logo-link {
			.custom-logo {
				max-width: 140px !important;
			}
		}
	}
	.bottom-header-contain.desktop-only.sticky {
		display: none !important;
	}
	header.site-header {
		position: fixed;
		z-index: 9999;
		background-color: #fff;
		width: 100%;
	}
	.short_list {
		bottom: 60px;
		z-index: 101;
		&:before {
			left: 10px;
			font-size: 10px;
		}
	}
	.widget_nav_menu {
		.menu-footer1-menu-container {
			.menu {
				flex-direction: column;
			}
		}
	}
}
.entry {
	.entry-content {
		.wp-block-latest-comments {
			.wp-block-latest-comments__comment-meta {
				font-family: "Lato", Georgia, Garamond, "Times New Roman", serif!important;
			}
		}
	}
}
.owl-dots {
	.owl-dot {
		&.active {
			&:before {
				position: relative;
				visibility: hidden;
			}
		}
	}
}

footer.site-footer .et_bloom_header_outer {width: 66%;}
footer.site-footer .et_bloom_form_header.et_bloom_header_text_light {
    text-align: center;
min-height: 250px;
width: 100%;
background-color: #545454 !important;
padding: 15px;
    overflow: hidden;
    position: relative;
height: 100%;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    line-height: 1em;
    text-transform: none;
    font-weight: normal;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-image: none;
}

footer.site-footer .et_bloom_form_header img {
    margin: auto;
   max-width: 360px!important;
   position: relative;
}

footer.site-footer .et_bloom_header_text_light h2 {
    color: #fff !important;
    font-family: "Solway", Helvetica, Arial, Lucida, sans-serif;
   font-size: 24px !important;
    padding-bottom: 0 !important;
    font-weight: 600 !important;
    line-height: 1.1em !important;
}
footer.site-footer .et_bloom_form_header p { 
    line-height: 1.6em;
    color: rgba(255,255,255,0.7) !important;
    font-size: 16px!important;
    font-family: "Lato","sans-serif"!important;
}
footer.site-footer .et_bloom_form_header .et_bloom_form_text { text-align: center;}

footer.site-footer .et_bloom_form_content  {
    width: 34%;
    height: inherit;
    float: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
right: 0;
padding: 40px 30px;
    color: rgba(0, 0, 0, 0.5);
position: relative;
background-color: #202c39 !important;
}

footer.site-footer .et_bloom_form_container_wrapper {
    display: flex;
position:relative;
}

footer.site-footer li.footer-sub-form .ginput_container.ginput_container_text input, li.footer-sub-form .ginput_container.ginput_container_email input{
padding: 10px !important;
font-family: "Lato","sans-serif"!important;
background-color: #fff;
    width: 100% !important;
    font-weight: 600;
    color: rgba(0,0,0,0.5);
    box-sizing: border-box;
    border: none;
display: block;
    font-size: 14px;
}

footer.site-footer .et_bloom_form_content input[type="submit"]{
    background-color: #2fbfef !important;
color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    position: relative;
cursor: pointer;
border-radius: 0;
    padding: 15px 0!important;
    font-size: 20px!important;
    font-family: "Lato","sans-serif"!important;
background: none;
width:96% !important;
}

footer.site-footer .et_bloom_form_content.et_bloom_2_fields:before {
border-top-color: transparent !important;
    border-left-color: #545454 !important;
    width: 0;
    left: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
    top: 50%;
    margin-left: 0;
    margin-top: -10px;
    position: absolute;
    content: '';
    display: block;
}

footer.site-footer input#input_3_1, footer.site-footer input#input_3_2 {width: 100% !important;}

@media only screen and (max-width: 420px) {
	footer.site-footer .et_bloom_form_content {width: 100% !important;}
}

form#gform_4 .gform_footer {text-align: center !important;padding-left: 16px !important;padding-right: 16px !important;}